<!DOCTYPE html>
<html>
<head>
<title>help page</title>
</head>
<body>
  <!-- <h1>{{pageTitle}}</h1> -->
{{>header}}
<p>project page text would go here</p>
<!-- <footer>
  <p>Copyright {{currentYear}}</p>
</footer> -->
{{>footer}}
</body>
</html>
